html,
body {
  background-color: #082f46;
  min-height: 100vh;
  margin: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.calculator {
  background-color: bisque;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8px;
  border-radius: 15px;
  border: 2px solid #422800;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.display {
  border: 4px solid black;
  width: 90%;
  height: 100px;
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(195, 195, 195);
  text-align: end;
  margin-top: 10px;
}
.display p {
  font-family: monospace;
  color: black;
  margin: 0;
  font-size: 70px;
}
.numbers {
  width: 90%;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex: 1;
}
.btn {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  border: 2px solid #422800;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: rgb(8, 161, 232);
}
.btn:hover {
  background-color: #fff;
}
.btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(0.5px, 0.5px);
}
.zero {
  flex: 2.22;
}
.mainop,
.resultbtn {
  background-color: orange;
}
.number,
.dot {
  background-color: blanchedalmond;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #082f46;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.outer-container {
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
